* {
  box-sizing: border-box;
}
* {
display: block;
text-decoration: none;
list-style: none;
}
*:focus {
  background-color: burlywood;
  color: #fff;
  outline-color: gold;
  outline-style: solid;
}
.container {
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */
.site-header {
width: 1440px;
height: 98px;
padding: 24px;
}
.site-header-container {
  width: 1100px;
  height: 50px;
  display: flex;
 justify-content: space-between;
 padding-left: 170px;
}
.site-header-container:last-child {
margin-left: 0px;
}
.logo-img {
  width: 50px;
  height: 49.94px;
  margin-right: 16px;
}
.logo-text {
font-family: "Open Sans" sans-serif;
font-weight: 600;
font-size: 24px;
line-height: 32.68px;
}
.logo {
  display: flex;
  margin: 0%;
  margin-right: 50px;
  align-items: center;
  opacity: 60;
}
.logo:last-child {
  margin-right: 0%;
}
.site-nav {
  width: 497px;
  height: 21px;
  display: flex;
  margin: 0%;
  margin-right: 50px;
}
.site-nav-link {
  font-family: "Open Sans" sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 2px;
  margin-right: 16px;
}
.site-nav-link:last-child {
  margin-right: 0px;
}
.site-nav :hover {
color: #DE2E54;
}
.site-nav :active {
color: #DE2E54;
color: #0EB4C1;
}
.buttom {
  background-color: #DE2E54;
  color: #fff;
  opacity: 60;
  border: 2px solid #DE2E54;
width: 189px;
height: 47px;
border-radius: 8px;
}
.buttom:hover {
  background-color: #fff;
  color: #DE2E54;
  width: 141px;
  height: 23px;
  font-family: Open Sans Condensed;
  font-weight: 700;
  font-size: 15px;
  line-height: 22.5px;
  letter-spacing: 2px;
  align-items:center;
  padding: 12px 24px 12px 24px;
}
.buttom:focus {
  background-color: #DE2E54;
  color: #0EB4C1;
}

/* HERO */
.hero {
  display: flex;
width: 1440px;
height: 533px;
background-color: #0EB4C1;
color: #fff;
}
.hero-content {
  padding-left: 170px;
  margin-right: 40px;
}
.hero-content h2{
font-family: Open Sans Condensed;
font-weight: 700;
font-size: 36px;
line-height: 43.2px;
margin-top: 0%;
padding-top: 120px;
}
.hero-content p {
  width: 440px;
  height: 108px;
font-family:"Open Sans" sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 27px;
margin-top: 0%;
}

/* SERVICES */
.services h2 {
  width: 133px;
  height: 43px;
  padding-left: 653px;
  margin-top: 100px;
  margin-bottom: 40px;

}
.service-ul {
width: 864px;
height: 1040px;
padding-left: 288px;
margin: 0%;
}

.service-list {
display: flex;
width: 864px;
height: 200px;
margin: 0%;
margin-bottom: 40px;
}
.service-list:last-child {
margin-bottom: 0%;
}
.service-texts-one {
width: 600px;
height: 149px;
}
.service-texts-two {
width: 600px;
height: 125px;
}
.service-texts-three {
width: 600px;
height: 173px;
}
.service-texts-four {
width: 600px;
height: 125px;
}
.service-ul p {
  margin: 0%;
}
.servixe-p-one {
width: 600px;
height: 96px;
}
.servixe-p-two {
width: 600px;
height: 72px;
}
.servixe-p-three {
width: 600px;
height: 120px;
}
.servixe-p-four {
width: 600px;
height: 72px;
}
.service-h-one {
width: 67px;
height: 29px;
}
.service-ul h3 {
  margin-top: 0%;
}
.service-h-two {
width: 155px;
height: 29px;
}
.service-h-three {
width: 195px;
height: 29px;
}
.service-h-four {
  width: 192px;
  height: 29px;
}